.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px;
    background: linear-gradient(145deg, #3d52a0, #7091e6);
    border-radius: 20px;
    color: #fff;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  }
  
  .infoContainer {
    flex: 1;
    margin-right: 20px;
  }
  
  .heading {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .infoContainer p {
    font-size: 1.1rem;
    margin-bottom: 10px;
    line-height: 1.6;
  }
  
  .infoContainer a {
    color: #fff;
    text-decoration: underline;
  }
  
  .formContainer {
    flex: 1;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.2);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .formHeading {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .formGroup label {
    font-size: 1rem;
  }
  
  .formGroup input,
  .formGroup textarea {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 1rem;
    margin-top: 5px;
  }
  
  
  
  .statusMessage {
    margin-top: 15px;
    font-size: 1rem;
  }
  
  .submitButton {
    background: linear-gradient(45deg, #3D52A0, #7091E6);
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    position: relative;
    overflow: hidden;
    margin-top: 20px;
  }
  
  .submitButton::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #8697C4, #3D52A0);
    transition: left 0.4s ease-in-out;
    border-radius: 25px;
    z-index: -1;
  }
  
  .submitButton:hover::before {
    left: 0;
  }
  
  .submitButton:hover {
    transform: scale(1.05);
    color: #fff;
  }
  

  