.formContainer {
    backdrop-filter: blur(10px); /* Blur effect */
    border-radius: 15px; /* Rounded borders */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    height: 90vh;
    width: 90%;
   /* Center content vertically */
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    transition: transform 0.1s ease; /* Smooth transition for the tilt effect */
    transform-style: preserve-3d;
    overflow: hidden; /* Ensure no unwanted scrollbars */
    position: relative; 
  }
  .container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #3D52A0, #7091E6, #8697C4, #ADBBDA, #EDE8F5);
    background-size: 400% 400%;
    animation: glitter 5s ease infinite;
    opacity: 0.5;
    z-index: 1; /* Make sure this layer is under the main content */
  }
  
  /* Keyframes for glitter effect */
  @keyframes glitter {
    0% { background-position: 0% 0%; }
    50% { background-position: 100% 100%; }
    100% { background-position: 0% 0%; }
  }
  
  .heading {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .formGroup {
    display: flex;
    flex-direction: column;
  }
  

 
  
  .submitButton {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background: #0070f3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .submitButton:hover {
    background: #005bb5;
  }
  
  .statusMessage {
    margin-top: 15px;
    text-align: center;
    color: #28a745;
  }
  