
html,
body {
  margin: 0 !important;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6, p{
  font-size: 97px;
  font-size: 4rem;
  margin-bottom: 2rem;
  color: #3D52A0;
}
