/* Project.module.css */
.projectContainer {
    text-align: center;
    color: #333;
    max-width: 90%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  
 
  .highlight {
    color: #7091E6;
  }
  
  .gridContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 300px);
    gap: 1rem;
    margin-top: 2rem;
  }
  
  .box {
    background: linear-gradient(135deg, #7091E6, #3D52A0);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
    padding: 1rem;
    text-align: left;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: transform 0.3s;
  }
  
  .box1 {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }
  
  .box2 {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }
  
  .box3 {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }
  
  .box4 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  
  .box5 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }
  
  .box:hover {
    transform: scale(1.05);
  }
  
  .heading2 {
    font-size: 1.75rem;
  }
  
  .img {
    border-radius: 10px;
    margin-bottom: 1rem;
  }

  
.servicesHeading {
  text-align: center;
  margin-bottom: 3rem;
}

.servicesHeading h2 {
  font-size: 2.5rem;
  color: #3D52A0;
  margin-bottom: 1rem;
  position: relative;
  display: inline-block;
}

.servicesHeading h2::after {
  content: '';
  display: block;
  width: 60px;
  height: 4px;
  background-color: #FFD700;
  margin: 0.5rem auto 0;
  border-radius: 2px;
}

